div.#content{
	height: 100% !important;
	position: absolute !important;
}
#content_content{
	height: auto !important;
	margin: 0;
	width: auto !important;
	position: relative;
}
div#centerlayot{
	padding: 2px;
	border: 2px solid #000;
	height: auto !important;
	margin-top: 40px !important;	
}
.ui-datatable .ui-column-filter{
	display: none !important;
}
.order-table{   
	border-collapse:collapse;
}
.order-table-header{
	text-align:center;
	background:none repeat scroll 0 0 #E5E5E5;
	border-bottom:1px solid #BBBBBB;
	padding:16px;
}
.order-table-odd-row{
	text-align:center;
	background:none repeat scroll 0 0 #FFFFFFF;
	border-top:1px solid #BBBBBB;
}
.order-table-even-row{
	text-align:center;
	background:none repeat scroll 0 0 #F9F9F9;
	border-top:1px solid #BBBBBB;
} 
#sorted-table > div{
	height: auto !important;
}
.ui-layout-container{
	font-size: 9pt !important; 
	overflow: auto;
}
.ui-layout-container #menu{
	font-size: 8pt !important;
	position: fixed !important; 
	top: 0; 
	width: 100%;
	height: 50px;
	overflow: visible;
}
.ui-datatable{
	font-size: 9.5pt !important;
	text-align: center;
}

.ui-datatable-header{
	height: 25px;
	background-color: white !important;
	vertical-align: top;
}
.ui-datatable-header img{
	vertical-align:middle;
	margin:0 5px 0 0;
}
.ui-datatable-header img:hover{
	vertical-align:middle;
	margin:0 5px 0 0;
	background-color: #fff;
}

.ui-layout-north  .ui-layout-unit-content{
	background-color: gray !important;
	text-align: center !important;
}
.ui-datatable thead{
	height: 30px;
}
.ui-sortable-column-icon
{    
    margin-left: 5px !important;
    position: relative !important;
}
/*
.command{
	text-align: center;
}
.command table{	
	margin: 0 auto;
	font-size: 10pt !important;
}
.command td{
	padding: 0 5px;
	font-size: 10pt !important;
}
.ui-menuitem{
	font-size: 10pt !important;
	overflow: auto !important;
}

#centerlayot{ 
	background-color: #ccc !important;
	height: 92% !important;
}*/
