.ui-datatable-tablewrapper{
	font-size: 10pt !important;
	font-weight: normal !important;
}
.ui-datatable-tablewrapper tr{
	height: 10px !important;;
}
.ui-paginator{
	font-size: 10pt !important;
	font-weight: normal !important;
}
.ui-datatable .ui-sortable-column div .ui-dt-c {
   padding-right: 15px !important;
 }
 .ui-datatable table{
  border-collapse: collapse !important; 
 }
 